# Artificial Neural Network

In [28]:
# Part 1 - Data Preprocessing
import warnings
warnings.filterwarnings("ignore")
# Importing the libraries
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [29]:
# Importing the dataset
dataset = pd.read_csv('.\Datasets\Churn_Modelling.csv')

#pd.get_dummies(dataset['Geography'])
dataset1 = dataset.iloc[:,3:14]
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [30]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
dataset1.loc[:, 'Gender'] = labelencoder_X_1.fit_transform(dataset1.loc[:, 'Gender'])

In [31]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  int32
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int32(1), int64(7), object(1)
memory usage: 820.4+ KB

In [32]:
dataset1

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [33]:
X = dataset1.iloc[:, :10]
y = dataset1.iloc[:, 10]

In [34]:
X = pd.get_dummies(X, drop_first= True)

In [35]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,0
9997,709,0,36,7,0.00,1,0,1,42085.58,0,0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,0

In [36]:
X.shape

(10000, 11)

In [37]:
X = X.values
y= y.values

In [38]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [39]:
dataset.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [40]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [99]:
'''# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
#to avoid dummy variable trap
X = X[:, 1:]'''

'# Encoding categorical data\nfrom sklearn.preprocessing import LabelEncoder, OneHotEncoder\nlabelencoder_X_1 = LabelEncoder()\nX[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])\nlabelencoder_X_2 = LabelEncoder()\nX[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])\n\nX = onehotencoder.fit_transform(X).toarray()\n#to avoid dummy variable trap\nX = X[:, 1:]'

In [41]:
X.shape

(10000, 11)

In [42]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [43]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [44]:
X_train.shape

(8000, 11)

In [45]:
# Part 2 - Now let's make the ANN!
#!pip install keras
# Importing the Keras libraries and packages
import keras

ImportError: Keras requires TensorFlow 2.2 or higher. Install TensorFlow via `pip install tensorflow`

In [154]:
from keras.models import Sequential
from keras.layers import Dense

In [155]:
# Initialising the ANN
classifier = Sequential()

In [156]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

In [157]:
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

In [158]:
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

In [159]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [160]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

Epoch 1/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4828 - accuracy: 0.7954
Epoch 2/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4277 - accuracy: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4218 - accuracy: 0.8067
Epoch 4/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4154 - accuracy: 0.8285
Epoch 5/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4103 - accuracy: 0.8331
Epoch 6/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4073 - accuracy: 0.8340
Epoch 7/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.4049 - accuracy: 0.8328
Epoch 8/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4038 - accuracy: 0.8321
Epoch 9/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4024 - accuracy: 0.8339
Epoch 10/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4011 - accuracy: 0.8331
Epoch 11/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4006 - accuracy: 0.8338
Epoch 12/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3999 - accuracy: 0.8347
Epoch 13/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3996 - accuracy: 0.8349
Epoch 14/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3991 - accuracy: 0.8351
Epoch 15/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3992 - accuracy: 0.8340
Epoch 16/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3984 - accuracy: 0.8341
Epoch 17/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3984 - accuracy: 0.8345
Epoch 18/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3978 - accuracy: 0.8344
Epoch 19/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3977 - accuracy: 0.8336
Epoch 20/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3969 - accuracy: 0.8351
Epoch 21/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3971 - accuracy: 0.8334
Epoch 22/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3964 - accuracy: 0.8342
Epoch 23/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3966 - accuracy: 0.8349
Epoch 24/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3965 - accuracy: 0.8340
Epoch 25/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3961 - accuracy: 0.8355
Epoch 26/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3963 - accuracy: 0.8355
Epoch 27/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3958 - accuracy: 0.8355
Epoch 28/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3960 - accuracy: 0.8344
Epoch 29/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3954 - accuracy: 0.8353
Epoch 30/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3956 - accuracy: 0.8350
Epoch 31/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3951 - accuracy: 0.8350
Epoch 32/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3952 - accuracy: 0.8353
Epoch 33/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3943 - accuracy: 0.8357
Epoch 34/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3945 - accuracy: 0.8339
Epoch 35/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3946 - accuracy: 0.8359
Epoch 36/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3945 - accuracy: 0.8370
Epoch 37/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3935 - accuracy: 0.8364
Epoch 38/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3922 - accuracy: 0.8374
Epoch 39/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3922 - accuracy: 0.8372
Epoch 40/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.3911 - accuracy: 0.8391
Epoch 41/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3898 - accuracy: 0.83880s - loss: 0.3908 - accuracy: 0.
Epoch 42/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3884 - accuracy: 0.8390
Epoch 43/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3863 - accuracy: 0.8393
Epoch 44/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3851 - accuracy: 0.8395
Epoch 45/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3826 - accuracy: 0.8385
Epoch 46/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3809 - accuracy: 0.8400
Epoch 47/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3790 - accuracy: 0.8404
Epoch 48/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3774 - accuracy: 0.8403
Epoch 49/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3742 - accuracy: 0.8394
Epoch 50/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3744 - accuracy: 0.8400
Epoch 51/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3726 - accuracy: 0.8410
Epoch 52/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3712 - accuracy: 0.8414
Epoch 53/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3702 - accuracy: 0.8397
Epoch 54/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3694 - accuracy: 0.8420
Epoch 55/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3679 - accuracy: 0.8457
Epoch 56/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3674 - accuracy: 0.8439
Epoch 57/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3666 - accuracy: 0.8450
Epoch 58/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3653 - accuracy: 0.8478
Epoch 59/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.3647 - accuracy: 0.8484
Epoch 60/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.3632 - accuracy: 0.8490
Epoch 61/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3622 - accuracy: 0.8479
Epoch 62/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3612 - accuracy: 0.8501
Epoch 63/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3597 - accuracy: 0.8515
Epoch 64/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3590 - accuracy: 0.8515
Epoch 65/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3583 - accuracy: 0.8520
Epoch 66/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3579 - accuracy: 0.8535
Epoch 67/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3573 - accuracy: 0.8546
Epoch 68/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3569 - accuracy: 0.8544
Epoch 69/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3558 - accuracy: 0.8569
Epoch 70/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3559 - accuracy: 0.8572
Epoch 71/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3548 - accuracy: 0.8571
Epoch 72/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3547 - accuracy: 0.8599
Epoch 73/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3534 - accuracy: 0.8580
Epoch 74/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3533 - accuracy: 0.8589
Epoch 75/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3527 - accuracy: 0.8584
Epoch 76/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3528 - accuracy: 0.8593
Epoch 77/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.3520 - accuracy: 0.8585
Epoch 78/100

8000/8000 [==============================] - 1s 121us/step - loss: 0.3524 - accuracy: 0.8608
Epoch 79/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3519 - accuracy: 0.8593
Epoch 80/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.3519 - accuracy: 0.8597
Epoch 81/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3514 - accuracy: 0.8601
Epoch 82/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3510 - accuracy: 0.8625
Epoch 83/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3510 - accuracy: 0.8597
Epoch 84/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3505 - accuracy: 0.8585
Epoch 85/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3497 - accuracy: 0.8610
Epoch 86/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3500 - accuracy: 0.8600
Epoch 87/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3501 - accuracy: 0.8589
Epoch 88/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3485 - accuracy: 0.8600
Epoch 89/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3498 - accuracy: 0.8594
Epoch 90/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3489 - accuracy: 0.8611
Epoch 91/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3486 - accuracy: 0.8610
Epoch 92/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3489 - accuracy: 0.8601
Epoch 93/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3475 - accuracy: 0.8600
Epoch 94/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3480 - accuracy: 0.8608
Epoch 95/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3486 - accuracy: 0.8604
Epoch 96/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3475 - accuracy: 0.8615
Epoch 97/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3469 - accuracy: 0.8606
Epoch 98/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3477 - accuracy: 0.8597
Epoch 99/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.3472 - accuracy: 0.8586
Epoch 100/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.3465 - accuracy: 0.8612

In [161]:
# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [164]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)

In [163]:
cm

array([[1456,  139],
       [ 162,  243]], dtype=int64)

In [165]:
accuracy_score(y_test, y_pred)

0.8495